.editor {
  display: flex;
  height: 100%;
  position: relative;
  .leftPanel {
    padding: 0 10px;
    width: 400px;
  }
  .canvasWrapper {
    flex: 1;
    margin: 0 40px;
  }
  .canvasScrollView {
    height: calc(100% - 34px);
    overflow: auto;
  }
  .canvas {
    position: relative;
    background-color: #fff;
    height: 100%;
    // default is center and cause content invisible
    transform-origin: 0 0;
  }
}
